@import 'config';



// Header Design
#main-header{
    width: 100%;
    display: block;
    height: 90px;
    font-family: $font-montserrat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: all 0.3s ease;

    &.active{
        background: rgba(37, 43, 66, 0.9);
        height: 70px;
    }

    .container{
        height: 100%;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .left{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                font-size: 24px;
                text-decoration: none;
                font-weight: 700;
                font-family: $font-montserrat;
                color: $color-white;
                transition: all 0.2s ease;

                &:hover{
                    color: $color-primary;
                }
            }

            .menu{
                display: flex;
                align-items: center;
                list-style: none;

                li{
                    padding: 0 6px;

                    a{
                        padding: 2px 3px;
                        text-decoration: none;
                        letter-spacing: 0.2px;
                        font-family: $font-montserrat;
                        font-weight: 600;
                        color: $color-white;
                        font-size: 14px;
                        transition: all 0.2s ease;

                        &:hover{
                            color: $color-primary;
                        }
                    }
                }
            }
        }

        .btns{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style: none;

            li{
                padding: 0 4px;
                
                a{
                    padding: 2px 3px;
                    text-decoration: none;
                    letter-spacing: 0.2px;
                    font-family: $font-montserrat;
                    font-weight: 600;
                    color: $color-white;
                    font-size: 14px;
                    transition: all 0.2s ease;

                    &:hover{
                        color: $color-primary;
                    }

                    &.become-btn{
                        width: 200px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $color-primary;
                        border-radius: 5px;
                        margin-left: 6px;
                        border: 2px solid $color-primary;

                        &:hover{
                            color: $color-white;
                            border-color: $color-white;
                            background: transparent;
                        }

                        i{
                            padding-left: 8px;
                        }
                    }

                    &.mobile{
                        font-size: 18px;
                        display: none;
                    }
                }
            }
        }
    }
}


// Hero
#hero{
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;
    background: url(./../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
        z-index: 1;
    }

    .content{
        padding-top: 80px;
        position: relative;
        z-index: 10;
        background: transparent;
        width: 600px;

        .title{
            font-family: $font-montserrat;
            font-size: 56px;
            color: $color-white;
            font-weight: 800;
            line-height: 76px;
        }
        .dec{
            font-size: 18px;
            font-family: $font-montserrat;
            letter-spacing: 0.2px;
            font-weight: 500;
            color: #ffffff;
            line-height: 30px;
            padding: 20px 0;
        }
        .btns{
            display: flex;
            align-items: center;
            list-style: none;
            margin-top: 60px;


            li{
                margin-right: 20px;
                margin-top: 10px;

                a{
                    padding: 15px 36px;
                    border-radius: 50px;
                    border: 2px solid $color-white;
                    font-size: 14px;
                    font-weight: 700;
                    color: $color-white;
                    text-decoration: none;
                    font-family: $font-montserrat;
                    transition: all 0.3s ease;

                    &:hover{
                        background: $color-primary;
                        border-color: $color-primary;
                    }

                    &.quote{
                        background: $color-primary;
                        border-color: $color-primary;

                        &:hover{
                            background: transparent;
                            border-color: $color-white;
                        }
                    }
                }
            }
        }
    }
}



// Chose
#chose{
    display: block;
    width: 100%;
    background: $color-background;

    .content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .card{
            padding: 0px 60px;
            text-align: center;

            i{
                font-size: 58px;
                color: #23A6F0;
                padding-bottom: 20px;
            }
            .title{
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                font-family: $font-montserrat;
                color: $color-white;
                font-weight: 700;
                margin-bottom: 8px;
                margin-top: 4px;
            }
            .dec{
                font-size: 14px;
                font-family: $font-montserrat;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $color-white;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}


// Testimonials
#testimonial{
    background: $disable-color;

    .content{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 50px;

        .card{
            position: relative;
            background: $color-white;
            width: 450px;
            height: 280px;
            border-radius: 2px;
            padding: 24px 34px;

            img{
                position: absolute;
                top: 10px;
                left: -50px;
                width: 70px;
                height: 70px;
                border-radius: 100%;

            }

            .name{
                font-family: $font-montserrat;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: $color-background;
            }
            .profetion{
                font-size: 14px;
                font-family: $font-montserrat;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: $text-color-second;
                // margin-bottom: 10px;
            }
            .stars{
                display: flex;
                align-items: center;
                justify-content: start;
                list-style: none;
                padding: 12px 0;

                li{
                    font-size: 18px;
                    padding: 0 3px;
                    color: $color-gold;
                }
            }
            .dec{
                font-family: $font-montserrat;
                font-size: 14px;
                font-weight: 500;
                color: $text-color-second;
                line-height: 22px;
                letter-spacing: 0.2px;
            }
        }
    }
}


// Portfolio
#portfolio{
    background: $color-background;
    width: 100%;
    display: block;

    .content{
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        .card{
            height: 380px;
            width: 250px;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: flex-end;
            padding: 15px;

            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
                z-index: 10;
            }

            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }

            .text{
                position: relative;
                z-index: 20;
                padding-bottom: 12px;

                .name{
                    font-family: $font-montserrat;
                    font-size: 14px;
                    color: $color-white;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                }
                .title{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 30px;
                    font-family: $font-montserrat;
                    color: $color-white;
                    padding: 12px 0;
                }
                .view-btn{
                    display: inline-block;
                    padding: 10px 35px;
                    font-family: $font-montserrat;
                    font-size: 14px;
                    color: $color-white;
                    text-decoration: none;
                    background: $color-primary;
                    border-radius: 50px;
                    line-height: 22px;
                    letter-spacing: 0.2px;
                    font-weight: 700;
                }
            }
        }
    }
}


// Priching
#price{
    display: block;
    width: 100%;
    background: $color-background;

    .content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 60px;

        .card{
            display: block;
            height: auto;
            background: #ffffff;
            border-radius: 5px;
            width: 32%;
            padding: 30px 30px;
            position: relative;

            .name{
                display: block;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                color: $color-background;
                font-family: $font-montserrat;
                padding: 10px 0;
                margin-bottom: 14px;
            }

            .dec{
                font-size: 16px;
                font-weight: 700;
                font-family: $font-montserrat;
                color: $text-color-second;
                width: 60%;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 30px;
            }
            .pric{
                font-size: 40px;
                font-family: $font-montserrat;
                color: $color-primary;
                line-height: 57px;
                letter-spacing: 0.2px;
                display: block;
                text-align: center;
            }
            .price-time{
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 0.2px;
                font-family: $font-montserrat;
                font-weight: 700;
                color: $color-primary;
                display: block;
                text-align: center;
                margin-bottom: 30px;
            }

            .try-btn{
                padding: 15px 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                background: $color-primary;
                border-radius: 3px;
                font-size: 14px;
                line-height: 27px;
                font-weight: 700;
                text-decoration: none;
                color: $color-white;
                letter-spacing: 0.2px;
                font-family: $font-montserrat;
                margin-bottom: 30px;
                transition: all 0.3s ease;
                border: 2px solid $color-primary;

                &:hover{
                    background: $color-white;
                    color: $color-primary;
                }
            }
            
            .list{
                list-style: none;
                display: block;

                li{
                    padding: 8px 0;
                    display: flex;
                    align-items: center;

                    i{
                        font-size: 26px;
                        padding-right: 8px;
                        color: $muted-color;
                    }
                    span{
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        font-weight: 600;
                        font-family: $font-montserrat;
                        color: $color-background;
                    }

                    &.active{
                        i{
                            color: $success-color;
                        }
                    }
                }
            }
        }
    }
}


// Contact
#contact{
    display: block;
    width: 100%;
    background: url(./../images/contact.jpg);
    height: 650px;
    background-size: cover;


    .section-header{
        width: 100%;
        text-align: left;

        .title{
            color: $color-background;
        }
        .dec{
            color: $color-background;
            font-weight: 700;
            font-size: 16px;
        }
    }

    .content{
        padding: 20px 0;
        

        .form-wraper{
            display: flex;
            flex-direction: column;
            width: 600px;

            form{
                
                .input-group{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 8px 0;

                    .input-wraper{
                        width: 100%;
                        display: block;

                        &.half{
                            width: 48%;
                        }

                        :is(input, select, textarea){
                            width: 100%;
                            height: 50px;
                            background: #f9f9f9;
                            border: 1px solid #e6e6e6;
                            border-radius: 5px;
                            font-size: 14px;
                            font-weight: 600;
                            color: $text-color-second;
                            padding: 0 15px;


                        }

                        textarea{
                            height: 150px;
                            padding: 15px;
                            resize: none;
                        }

                        .submit-btn{
                            width: 220px;
                            background: $color-primary;
                            color: #fff;
                            cursor: pointer;
                            border: 2px solid $color-primary;
                            transition: all 0.3s ease;

                            &:hover{
                                background: $color-white;
                                color: $color-primary;
                            }
                        }
                    }
                }

            }
        }
    }
}


// Newsletter
#newsletter{
    display: block;
    width: 100%;
    height: 140px;
    background: #fafafa;

    .container{
        height: 100%;

        .content{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .left{
                .title{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.1px;
                    font-family: $font-montserrat;
                    color: $color-background;
                    padding-bottom: 6px;
                }

                .dec{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: $font-montserrat;
                    color: $text-color-second;
                }
            }

            .right{
                .contact-btn{
                    display: inline-block;
                    padding: 15px 40px;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 22px;
                    font-family: $font-montserrat;
                    background: $color-primary;
                    color: $color-white;
                    transition: all 0.3s ease;
                    border: 2px solid $color-primary;
                    border-radius: 5px;

                    &:hover{
                        color: $color-primary;
                        background: $color-white;
                    }
                }
            }
        }

    }
}

// Footer
#footer{
    display: block;
    width: 100%;
    background: $color-background;
    
    .content{
        padding: 30px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .item{
            .list{
                list-style: none;

                li{
                    padding: 5px 0;
                    display: flex;
                    align-items: center;

                    a{
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 24px;
                        color: $color-white;
                        font-family: $font-montserrat;
                        text-decoration: none;
                        transition: all 0.2s ease;

                        &:hover{
                            color: $color-primary;
                        }

                        &.list-title{
                            font-size: 16px;
                            font-weight: 700;
                            margin-bottom: 10px;
                            display: inline-block;

                            &:hover{
                                color: $color-white;
                            }
                        }

                        i{
                            font-size: 20px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

// Copyright
#copyright{
    display: block;
    width: 100%;
    height: 100%;
    // background: $color-gold;

    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 74px;

        .copy-text{
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            font-family: $font-montserrat;
            color: $text-color-second;

            a{
                font-size: 15px;
                transition: all 0.3s ease;
                text-decoration: none;
                color: $text-color-second;
                font-weight: 800;

                &:hover{
                    color: $color-primary;
                }
            }
        }

        .sosial{
            display: flex;
            align-items: center;
            list-style: none;

            li{
                padding: 0 12px;

                a{
                    font-size: 22px;
                    color: $color-primary;
                }
            }
        }
    }
}




@import "responsive";